# Immutability

In [1]:
name = "same"

In [2]:
name

'same'

In [3]:
name[0]

's'

In [4]:
#Strings are immutable. They do not support item assignment. 
#Unlike lists or other types of collections.

In [5]:
#Concat
newString = name[1:] + " Nonsense"

In [6]:
newString

'ame Nonsense'

In [8]:
letter = 'z' 
letter * 10

'zzzzzzzzzz'

In [9]:
'2' + '3'

'23'

In [10]:
x = 'String Sample'

In [11]:
#Check the String methods

In [12]:
x.upper()

'STRING SAMPLE'

In [13]:
x.capitalize()

'String sample'

In [16]:
x.count('S')

2

In [17]:
x.split()

['String', 'Sample']

In [18]:
#String Formatting.

<strong>Formatting</strong>
Two different methods for formatting string output:
    .format() method
    f-strings (formatted string literals)

In [20]:
#example
print('My name is {} and I am happy to meet you.'.format('Justin'))

My name is Justin and I am happy to meet you.

In [21]:
reidBoys = ['Justin', 'Michael', 'Donovan']

<strong>Can use indexes to format the string. </strong>

In [37]:
print('{0} is 26 years old. {1} is 23 years old. Finally, {2} is 19 years old.'.format('Justin','Michael','Donovan'))

Justin is 26 years old. Michael is 23 years old. Finally, Donovan is 19 years old.

<strong>Can use keywords by variable assignments within the format function call</strong>

In [38]:
print('{j} is 26 years old. {m} is 23 years old. Finally, {d} is 19 years old.'.format(j='Justin',m='Michael',d='Donovan'))

Justin is 26 years old. Michael is 23 years old. Finally, Donovan is 19 years old.

In [34]:
'Testing {0}'.format(reidBoys)

"Testing ['Justin', 'Michael', 'Donovan']"

<strong>Float Formatting.</strong> 

    {value:width,precision f} 
    The width specifies how many characters the number will be. For example, if the number itself is only 3 characters long and a width of 10 is specified then 7 characters of white space will be added.
    The precision will round to the specified amount of numbers after the decimal point.

This allows us to control the precision of a floating point number.

In [49]:
exampleFloatingPoint = 100/777

In [50]:
exampleFloatingPoint

0.1287001287001287

In [53]:
#Change the level of precision of the print out. 
print('The result was {r:1.3f}'.format(r=exampleFloatingPoint))

The result was 0.129

The F string method was introduced with Python 3. something.

In [55]:
#F string literals
name = 'Justin'
print(f'Hello, name is {name}')

Hello, name is Justin

In [58]:
age= 26

In [60]:
print(f'{name} is {age} years old.')

Justin is 26 years old.

Learning lists.

In [61]:
my_list = [1,2,3]

In [62]:
my_list

[1, 2, 3]

In [76]:
mylist = list(range(1,100))

In [77]:
mylist

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [78]:
len(mylist)

99

In [79]:
mylist[0:20]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [68]:
mylist[1]

2

In [80]:
mylist[len(mylist) - 1]

99

In [81]:
mylist.append(100)

In [82]:
mylist[len(mylist) - 1]

100

In [83]:
#The insert method works like this: .insert(index, value)
mylist.insert(1, 0)

In [84]:
mylist[0]

1

In [85]:
mylist[0:5]

[1, 0, 2, 3, 4]

In [86]:
#remove function works by taking a value and searching the list to remove it.
mylist.remove(1)

In [87]:
mylist[0:5]

[0, 2, 3, 4, 5]

In [91]:
#pop function will remove the value at the end of the list. 
#can pass in the index position.
mylist.pop()
mylist.pop(5)

6

In [90]:
mylist[-1]

99

In [140]:
from random import randint
new_list = ['a','x','r','t','v','y','d','l']
numlist = []
for index in range(0,20):
    numlist.append(randint(0, 20))

In [141]:
len(numlist)

20

In [142]:
numlist

[6, 5, 15, 17, 19, 20, 3, 10, 2, 8, 5, 19, 14, 0, 15, 5, 15, 12, 6, 15]

In [143]:
numlist.sort()

In [144]:
numlist

[0, 2, 3, 5, 5, 5, 6, 6, 8, 10, 12, 14, 15, 15, 15, 15, 17, 19, 19, 20]

In [145]:
new_list.sort()

In [146]:
new_list

['a', 'd', 'l', 'r', 't', 'v', 'x', 'y']

In [147]:
numlist.reverse()

In [148]:
numlist

[20, 19, 19, 17, 15, 15, 15, 15, 14, 12, 10, 8, 6, 6, 5, 5, 5, 3, 2, 0]

Dictionaries. 
They are unordered mappings for storing objects.
    The key-value pair allows for quick access to an object without needing to know the index of the value. 
    
The Syntax:
<strong>{'key1':'value1','key2':'value2'}</strong>

They are unordered and cannot be sorted. 
Ordered sequences can be indexed, sorted, and sliced.

In [149]:
my_dict = {'key1':26,'key2':38,'key3':'String'}

In [150]:
my_dict

{'key1': 26, 'key2': 38, 'key3': 'String'}

In [151]:
my_dict['key1']

26

In [152]:
my_dict['key2']

38

In [153]:
my_dict['key3']

'String'

In [154]:
prices_lookup = {'apple':0.99,'banana':0.59,'milk':3.99}

In [155]:
prices_lookup

{'apple': 0.99, 'banana': 0.59, 'milk': 3.99}

Dictionaries can hold multiple types of values in their items. Including another dictionary. The keys must be immutable.

In [165]:
another_dict = {'prices':prices_lookup,'integerList':[55,65,75,80],'string':'Hello World!'}

In [166]:
another_dict

{'prices': {'apple': 0.99, 'banana': 0.59, 'milk': 3.99},
 'integerList': [55, 65, 75, 80],
 'string': 'Hello World!'}

In [167]:
another_dict['prices']

{'apple': 0.99, 'banana': 0.59, 'milk': 3.99}

In [168]:
#Accessing the values of the other dictionary: 
another_dict['prices']['banana']

0.59

In [169]:
#accessing the value of the list in the dictionary 
another_dict['integerList']
another_dict['integerList'][0:]

[55, 65, 75, 80]

In [171]:
#operations on values in dictionaries
another_dict['integerList'][0] += 55

In [172]:
another_dict['integerList'][0]

110

In [173]:
#adding new key values
import numpy as np
another_dict['numpy array'] = np.array(another_dict['integerList'])

In [174]:
type(another_dict['numpy array'])

numpy.ndarray

In [175]:
another_dict['numpy array'] += 55

In [176]:
another_dict['numpy array']

array([165, 120, 130, 135])

<strong>Dictionary methods</strong>

In [180]:
another_dict.keys()

dict_values([{'apple': 0.99, 'banana': 0.59, 'milk': 3.99}, [110, 65, 75, 80], 'Hello World!', array([165, 120, 130, 135])])

In [181]:
another_dict.values()

dict_values([{'apple': 0.99, 'banana': 0.59, 'milk': 3.99}, [110, 65, 75, 80], 'Hello World!', array([165, 120, 130, 135])])

In [190]:
#tuples are immutable 
t = tuple(range(0,3))
mylist = list(range(0,3))

In [191]:
type(t)

tuple

In [192]:
type(mylist)

list

In [193]:
t

(0, 1, 2)

In [194]:
mylist

[0, 1, 2]

In [195]:
t[0]

0

In [196]:
t[0:]

(0, 1, 2)

In [197]:
mylist[0:]

[0, 1, 2]

In [198]:
t.count(0)

1

In [199]:
t.index(1)

1

In [200]:
t.index(2)

2

Sets are unordered collections of unique elements.

In [201]:
myset = set()

In [202]:
myset

set()

In [203]:
myset.add(1)

In [204]:
myset

{1}

In [205]:
myset.add(2)

In [206]:
myset

{1, 2}

In [207]:
myset.add(2)

In [208]:
myset

{1, 2}

In [210]:
#can be used to cast a list to a set to only get a unique value. 
import random as rand
randomNumbers = []
for i in range(0,20):
    randomNumbers.append(rand.randrange(0,100))

In [211]:
#cast to a set to only get the unique items of the list
set(randomNumbers)

{6, 12, 14, 29, 32, 37, 42, 45, 51, 57, 58, 64, 66, 67, 70, 79, 82, 84, 91, 95}

In [212]:
randomNumbers

[42, 79, 14, 37, 45, 58, 91, 95, 51, 64, 66, 29, 82, 70, 32, 57, 6, 84, 12, 67]

In [214]:
randomNumbers.sort()

In [215]:
randomNumbers

[6, 12, 14, 29, 32, 37, 42, 45, 51, 57, 58, 64, 66, 67, 70, 79, 82, 84, 91, 95]

In [216]:
listof2s = []
for i in range(0,20):
    listof2s.append(2)

In [217]:
listof2s

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [218]:
set(listof2s)

{2}

Jupyter's magic functionality

In [249]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the thirdline

Overwriting myfile.txt

In [250]:
myfile = open('myfile.txt')

In [251]:
pwd

'/Users/justinreid/Python2019AndON/PythonResources'

In [252]:
ls

CBTNuggets/                             EffcientPython/
Chapter204.ipynb                        UdemyPython.ipynb
DesignEfficientLoopsLinkedPython.ipynb  myfile.txt

In [253]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the thirdline\n'

In [254]:
myfile.seek(0)

0

In [255]:
myfile.readline()

'Hello this is a text file\n'

In [256]:
myfile.seek(0)

0

In [257]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the thirdline\n']

In [258]:
#close your files when done working with them
myfile.close()

In [259]:
#or use this syntax
with open('myfile.txt') as my_new_file:
    #insert code here
    contents = my_new_file.readlines()

In [260]:
contents

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the thirdline\n']

In [261]:
with open('myfile.txt', mode= 'a') as myfile:
    myfile.write('A new line!')

In [262]:
with open('myfile.txt') as myfile:
    print(myfile.read())

Hello this is a text file
this is the second line
this is the thirdline
A new line!

In [271]:
with open('myfile.txt', mode= 'a') as myfile:
    myfile.write("\nLord Targaryen!")

In [272]:
with open('myfile.txt') as myfile:
    print(myfile.read())

Hello this is a text file
this is the second line
this is the thirdline
A new line!Lord Targaryen!
Lord Targaryen!

In [273]:
with open('test.txt', mode='w') as helloWorld:
    helloWorld.write('Hello World')

In [274]:
x = open('test.txt')
print(x.read())
x.close()

Hello World